
/*
* Custom
*/

@import "common.scss";
html {
  background-color: #eae7dc;
  color: #626262;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
}
.countries-table {
  border-spacing: 0;
  th {
    background-color: #8e8d8a;
    color: #f7f3e7;
    font-weight: normal;
  }
  td {
    text-align: right;
    &:first-child {
      text-align: left;
    }
    &.more {
      background-color: rgba(232, 90, 79, 1);
    }
  }
  th,td {
    padding: 5px 10px;
    min-width: 50px;
    border-bottom: 1px solid #eae7dc;
  }
  .country {
    &.record {
      background-color: rgba(232, 90, 79, .8);
      color: #f7f3e7;
    }
    &_compared,
    &_dynamic {
      text-align: center;
    }
  }
}
