@import "common.scss";

html {
  background-color: #eae7dc;
  color: #626262;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 1em;
}
.countries-table {
  border-spacing: 0;

  th {
    font-weight: normal;
    text-align: center;

    color: #f7f3e7;
    background-color: #8e8d8a;
  }

  td {
    text-align: right;

    background-color: #eae7dc;
    white-space: nowrap;
  }

  th,td {
    min-width: 50px;
    padding: 5px 10px;

    border-bottom: 1px solid #eae7dc;

    &:first-child {
      position: sticky;
      left:0;

      text-align: left;
    }
  }

  .country {

    &.record td {
      color: #f7f3e7;
      background-color: #e87369;
    }

    &_compared,
    &_dynamic {
      text-align: center;

      &.more {
        background-color: #e85a4f;
      }
    }
  }
  &_wrap {
    overflow-x: auto;
  }
}
